{% extends "model-page.html" %}

{% block content %}
    <h2 class="text-center">Agendamentos</h2>
    <a href="evento/">
        <button type="button" class="btn btn-info">Novo evento</button>
    </a>
    <table class="container table">
            <thead>
                <tr>
                    <td>Titulo</td>
                    <td>Data do evento</td>
                    <td>Descrição</td>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.titulo}}</td>
                        <td>{{ evento.get_data_br_evento}}</td>
                        <td>{{ evento.descricao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!--<ul style="font-size:18px">
       {% for evento in eventos %}

        <li>{{ evento.titulo }} - {{ evento.get_data_br_evento }}</li>
       {% endfor %}
    </ul> -->

{% endblock %}